@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=DM+Sans:wght@400;500;700&family=Poppins:wght@700&display=swap');

$title-font: 'DM Sans', sans-serif;
$description-font: 'DM Sans', sans-serif;
$body-font: 'DM Sans', sans-serif;
$header-font: 'Caveat', cursive;
$extra-font: 'Poppins', sans-serif;